.cardInput {
 
  position: absolute;
  top: 0;
  left: 50%;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 400px;

  background-color: black;

  border-radius: 10px;

}
.fa-solid{
  position: absolute;
  top: 2px;
  left: 3px;
  width: 200px;
  color: rgb(255, 0, 0);
}
.hidden{
  display: none;

}
.cardsInfo div{
  color: aliceblue;


}
.namePlayer{
  width: 40px;
  position: absolute;
  top: 70px;
  left: 12px;
  text-wrap:wrap;
}
.rate{
  position: absolute;
  top: 20px;
}
.nationalityPlayer{
  position: absolute;
  top: 40px;
}
.cardInput div {
  color: white;
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 5px;
  background-color: rgb(251, 251, 251);
  height: 28px;
}
select {
  height: 30px;
  border-radius: 5px;
}
button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 7;
  background-image: linear-gradient(
    to right,
    rgba(230, 65, 23, 0.795),
    rgba(253, 17, 17, 0.564),
    rgba(238, 161, 8, 0.833)
  );
}
body {
  /* background-color: rgba(5, 5, 5, 0.958); */
  margin: 0;

  
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./image/stadium_background.webp);
}
.container {
  /* background-image: url(./téléchargement.svg); */
  /* background-color: rgba(24, 24, 24, 0.547); */
  width: 100vw;

  background-repeat: no-repeat;
  background-size: cover;
}

.cardsRow1 img,
.cardsRow2 img,
.cardsRow3 img,
.cardsRow4 img {
  width: 115px;
  margin: -11px;
}
.cardsRow1{
  display: flex;
  justify-content: space-around;
}
.cardsRow2{
  display: flex;
  justify-content: space-around;
}
.cardsRow3{
  display: flex;
  justify-content: space-around;
}
.cardsRow4{
  display: flex;
  justify-content: center;
}


.cardsInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardsInfo button {
  margin: 0 auto;
}
