.cardInput {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 400px;

  background-color: black;

  border-radius: 10px;
}
.fa-solid {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 200px;
  color: rgb(255, 0, 0);
}
.hidden {
  display: none;
}
.cardsInfo div {
  color: aliceblue;
}
#position {
  position: absolute;
  top: 14%;
  left: 5%;
  color: rgb(255, 255, 255) !important;
}
#name {
  position: absolute;
  top: 54%;
  left: 10%;
  width: 100%;
  font-size: 1.2em;
}
#rate {
  position: absolute;
  top: 20%;
  left: 5%;
}
/* #nationality {
  position: absolute;
  top: 40px;
} */
#photo {
  width: 86%;
  position: absolute;
  top: 13%;
  left: 18%;
}

#flag {
  position: absolute;
  left: 86%;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
#club {
  position: absolute;
}
#logo {
  position: absolute;
  top: 33%;
  left: 80px;
  width: 23%;
  height: 13%;
  border-radius: 50%;
}

div {
  font-size: 10px;
}
p {
  font-size: 0.6em;
  color: white;
}
.pace {
  position: absolute;
  top: 58%;
  left: 3%;
}
#pace {
  position: absolute;
  top: 65%;
  left: 3%;
  font-size: 10px;
}
.shooting {
  position: absolute;
  top: 58%;
  left: 30%;
}
#shooting {
  position: absolute;
  top: 65%;
  left: 30%;
}
.passing {
  position: absolute;
  top: 58%;
  left: 17%;
}
#passing {
  position: absolute;
  top: 65%;
  left: 17%;
}
.dribbling {
  position: absolute;
  top: 58%;
  left: 45%;
}

#dribbling {
  position: absolute;
  top: 65%;
  left: 45%;
}
.defending {
  position: absolute;
  top: 58%;
  left: 60%;
}
#defending {
  position: absolute;
  top: 65%;
  left: 60%;
}
.physical {
  position: absolute;
  top: 58%;
  left: 75%;
}
#physical {
  position: absolute;
  top: 65%;
  left: 75%;
}
.cardInput div {
  color: white;
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 5px;
  background-color: rgb(251, 251, 251);
  height: 28px;
}
select {
  height: 30px;
  border-radius: 5px;
}
button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  /* grid-column: 1; */
  grid-row: 7;
  background-image: linear-gradient(
    to right,
    rgba(230, 65, 23, 0.795),
    rgba(253, 17, 17, 0.564),
    rgba(238, 161, 8, 0.833)
  );
}
body {
  /* background-color: rgba(5, 5, 5, 0.958); */
  margin: 0;

  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./image/stadium_background.webp);
}
.container {
  /* background-image: url(./téléchargement.svg); */
  /* background-color: rgba(24, 24, 24, 0.547); */
  width: 100vw;

  background-repeat: no-repeat;
  background-size: cover;
}

.cardsRow1 img,
.cardsRow2 img,
.cardsRow3 img,
.cardsRow4 img {
  width: 115px;
  margin: -11px;
}
.cardsRow1 {
  display: flex;
  justify-content: space-around;
}
.cardsRow2 {
  display: flex;
  justify-content: space-around;
}
.cardsRow3 {
  display: flex;
  justify-content: space-around;
}
.cardsRow4 {
  display: flex;
  justify-content: center;
}

.cardsInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardsInfo button {
  margin: 0 auto;
}
